<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAlarm</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Satori SOS</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.gantlab.satori.sos</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>satori</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.gantlab.satori</string>
		</dict>
	</array>
</dict>
</plist>
